$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.new-task-item{
   border: 1px solid black;
   background: white;
}

.task-text {
   display: inline-block;

   &.completed{
      text-decoration: line-through;
   }
}

