$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


body {
   padding-top: 0px;
   padding-bottom: 20px;
   background: url(http://www.psdgraphics.com/file/light-wooden-background.jpg)
}

h1 small {
   color: white;
}

.jumbotron {
   background: rgba(230, 197, 146, 0.55);
}

.new-task-item{
   border-bottom: 1px solid rgb(247, 247, 247);
   background: white;
}

.clear-border{
   border: none;
}


.task-text {
   display: inline-block;
   width: 62%;
   
}

.completed .task-text {
      text-decoration: line-through;
}

// .edit .new-task-item {
//    display: none;

// }
